.dragndrop {
  cursor: pointer;
  &.dragging {
    position: fixed;
    box-shadow: 5px 5px 10px #222;
    border-radius: 5px;
    padding: 2em;
    & * {
      pointer-events: none;
      cursor: pointer;
    }
  }
}

.draggable-widget {
  user-select: none;
  cursor: pointer;

}
